<!-- User profile with form prefilled to edit name, email or password -->
<div class="profile-container">
  <h2>Profil d'utilisateur</h2>
  <form class="form-container" [formGroup]="userForm" (ngSubmit)="submitUpdatingUser(user)">
    <mat-form-field class="items" appearance=outline>
        <input matInput formControlName="name">
    </mat-form-field >
    <mat-form-field class="items" appearance=outline>
        <input matInput type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="items" appearance=outline>
        <input matInput type="password" placeholder="Mot de passe" formControlName="password">
    </mat-form-field>
    <!-- indicates steps to validate password by user -->
    <div class="pwd-instructions">
      <span *ngIf="userForm.get('password')?.hasError('invalidPassword')">
        Le mot de passe doit contenir au moins 8 caractères dont un chiffre, une lettre majuscule, une lettre minuscule et un caractère spécial. 
      </span>
      <span *ngIf="onError" class="error ml2">Une erreur persiste.</span>
    </div>
    <button  mat-flat-button class="save-button" type="submit" [disabled]="userForm.invalid">Sauvegarder</button>
  </form>
  <!-- Link to logout the user -->
  <div class="deconnect">
    <button mat-raised-button class="deconnect-link" (click)="logout()">Se déconnecter</button>
  </div>
</div>

<!-- Displays all user's topic(s) with a button to unsubscribe -->
<!-- if the user has no subscription, a text to inform the user is displayed -->
<div class="list-topic">
  <hr>
  <h2>Abonnements</h2>
  <div class="topics-container">   
    <div *ngIf="(userTopics$ | async)?.length === 0">
      <p>Vous n'avez pas encore d'abonnement.</p>
    </div>
    <div class="topic-item" *ngFor="let topic of (userTopics$ | async)">
      <mat-card-title class="title-topic-item">
        {{ topic.title }}
      </mat-card-title>
      <mat-card-content> 
        <p class="topic-description">Description: {{ topic.description }}</p>
        <div class="button-container">
          <button mat-raised-button (click)="unSubscribe(topic,user)">Se désabonner</button>
        </div>
      </mat-card-content>
    </div>
  </div>
</div>





  