<!-- Displays the article informations -->
<div class="post-container">
  <mat-card-title class="title-post-item">
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    <h2>{{ post.title }}</h2>
  </mat-card-title>
  <mat-card-subtitle class="subtitle-post-item">
    <div class="subtitle-item">{{ post.user.name | titlecase }}</div>
    <div class="subtitle-item">{{ post.date | date:'dd/MM/yyyy' }}</div>
    <div class="subtitle-item">{{ post.topic.title | titlecase }}</div>
  </mat-card-subtitle>
  <mat-card-content class="article-description">
    <p>Contenu: {{ post.content }}</p>
  </mat-card-content>
</div>
<!-- To post a comment on this article -->
<div class="comment-container">
  <mat-card-title>
    <h2>Commentaires</h2>
  </mat-card-title>
  <div class="comment-content-container" *ngFor="let comment of post.comments">
    <p class="username">{{ comment.user.name | titlecase }}</p>
    <div class="comment-content">
      <p>{{ comment.content }}</p>
    </div>
  </div>
  <form class="form-container" [formGroup]="commentForm" (ngSubmit)="onSubmitComment()">
    <mat-form-field appearance="outline">
      <textarea matInput rows="8" placeholder="Ecrivez ici votre commentaire" formControlName="content">
      </textarea>
    </mat-form-field>
    <button class="send-icon" type="submit" [disabled]="commentForm.invalid">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>

