<div class="create-container">
  <button mat-icon-button routerLink="/posts" class="arrow-back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <form [formGroup]="postForm" (ngSubmit)="onSubmitPost()" class="form-container">
    <h2>Créer un nouvel article</h2>
    <mat-form-field appearance="outline" class="field-item">
      <mat-select ngDefaultControl formControlName="topic" placeholder="Selectionner un thème">
        <mat-option *ngFor="let topic of topics$ | async" [value]="topic">
            {{ topic.title }} 
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="field-item">
      <input matInput placeholder="Titre de l'article"  formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="outline" class="field-item">
        <textarea matInput rows="8" formControlName="content" placeholder="Contenu de l'article"></textarea>
    </mat-form-field>
    <button mat-flat-button class="submit-create" type="submit" [disabled]="postForm.invalid">Créer</button>
  </form>
</div>
