<div class="list">
  <!-- Displays all topics -->
  <div class="topic-container">
      <div class="topic-item" *ngFor="let topic of topics$ | async">
        <mat-card-title class="title-topic-item">
          {{ topic.title }}
        </mat-card-title>
        <mat-card-content>
          <p class="topic-description">Description: {{ topic.description }}</p>
        </mat-card-content>
        <div class="button-container">
          <!-- if the user is not subscribed to the topic, a button to subscribe is displayed and vice versa -->
          <button class="subscribe-btn" *ngIf="!isSubscribed(topic)" mat-raised-button (click)="subscribe(topic)">S'abonner</button>
          <button class="unsubscribe-btn" *ngIf="isSubscribed(topic)" mat-raised-button (click)="unSubscribe(topic)">Se désabonner</button>
        </div>
      </div>
  </div>
</div>